body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F6F9FC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}