footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(207, 190, 190);
    padding: 20px 0;
    gap: 20px;
}

footer .creators-container {
    display: flex;
    width: 100%;
}

footer .details-container {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    gap: 5px;
}

footer .details-container .name-wrapper,
footer .details-container .email-wrapper {
    display: flex;
    justify-content: center;
}

footer .details-container .name,
footer .details-container .email,
footer .copyright-text {
    text-align: center;
}

footer .details-container .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .details-container .image-wrapper img {
    width: 100px;
    height: 100px;
}