.container {
    display: flex;
    gap: 10px;
}

.nameWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}