<!DOCTYPE html>
<html>

<head>
    <title>Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="./css/blog.css">
</head>

<body>
    <header></header>
    <main>
        <h2>Recent Posts</h2>
        <article>
            <h3>Diet during pregnancy</h3>
            <div class="container">
                <img src="./images/pregnant.jpg" alt="woman with a huge belly">
                <div>
                    <p>Food is an important factor in maintaining a healthy pregnancy.</p>
                    <a href="./articles/entry-pregnant.html">Read More</a>
                </div>
            </div>
        </article>
        <article>
            <h3>Loose weight while having diabetis</h3>
            <div class="container">
                <img src="./images/pregnant.jpg" alt="Woman with a huge belly">
                <div>
                    <p>Diabetes is a chronic condition that affects the way the body processes blood sugar</p>
                    <a href="./articles/entry-diabetis.html">Read More</a>
                </div>
            </div>
        </article>
        <article>
            <h3>How I lost four pounds in a month! </h3>
            <div class="container">
                <img src="../../images/muscles.jpg" alt="Muscles diet">
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at est ornare, aliquet lectus sit
                        amet, consectetur velit. Curabitur in tortor justo. Nullam ac volutpat arcu, quis pretium ipsum.
                    </p>
                    <a href="./articles/entry-muscle.html">Read More</a>
                </div>
            </div>
        </article>
    </main>
    <footer>
        <div class="creators-container">
            <div class="details-container">
                <div class="name-wrapper">
                    <span class="name">
                        Ramona Andrei
                    </span>
                </div>
                <div class="email-wrapper">
                    <span class="email">
                        ramona.andrei@stud.fh-campuswien.ac.at
                    </span>
                </div>
                <div class="image-wrapper">
                    <img src="../../../images/ramona.jpg" alt="Ramona Andrei">
                </div>
            </div>
            <div class="details-container">
                <div class="name-wrapper">
                    <span class="name">
                        Hanaa Alraei
                    </span>
                </div>
                <div class="email-wrapper">
                    <span class="email">
                        hanaa.alraei@stud.fh-campuswien.ac.at
                    </span>
                </div>
                <div class="image-wrapper">
                    <img src="../../../images/hanaa.jpg" alt="Hanaa Alraei">
                </div>
            </div>
            <div class="details-container">
                <div class="name-wrapper">
                    <span class="name">
                        Lea Christa
                    </span>
                </div>
                <div class="email-wrapper">
                    <span class="email">
                        lea.christa@stud.fh-campuswien.ac.at
                    </span>
                </div>
                <div class="image-wrapper">
                    <img src="../../../images/lea.jpg" alt="Lea Christa">
                </div>
            </div>
        </div>
        <div class="copyright-text-wrapper">
            <span class="copyright-text">© 2022 Diet Designer</span>
        </div>
    </footer>

    <script src="../../js/header.js"></script>
</body>

</html>