<!DOCTYPE html>
<html>
  <head>
    <title>Entry muscles</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
  </head>
  <body>
    <header>
        <div class="logo-container">
            <a href="./home.html">
                <span>
                    DietDesigner
                </span>
            </a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="./recipes.html">Recipes</a>
                </li>
                <li>
                    <a href="./blog.html">Blog</a>
                </li>
                <li>
                    <a href="./forum.html">Forum</a>
                </li>
            </ul>
        </nav>
        <div class="auth-container">
            <a href="./register.html">
                <span>Register</span>
            </a>
            <a href="./login.html">
                <span>Login</span>
            </a>
        </div>
    </header>
    <section>
      <h1>My Blog Post</h1>
      <p>by Author Name</p>
      <p>Date Published</p>
    </section>
    <main>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at est ornare, aliquet lectus sit amet, consectetur velit. Curabitur in tortor justo. Nullam ac volutpat arcu, quis pretium ipsum. Maecenas et mollis tortor. Suspendisse aliquam diam eu volutpat malesuada. Aliquam erat volutpat. Cras consectetur diam id lectus convallis, id tincidunt risus rhoncus. Aenean auctor dui nec nunc scelerisque, quis ornare ipsum fringilla. Suspendisse non velit tellus. In hac habitasse platea dictumst. Duis lobortis malesuada elit, non ornare leo. Proin ultricies tempus augue non mollis. Vestibulum non tellus eu nisi sodales elementum. In hac habitasse platea dictumst. Donec ac venenatis nunc. Aliquam ullamcorper aliquam est, in interdum nibh. Proin ac enim diam. Maecenas sed urna dignissim, elementum turpis sed, bibendum tellus.</p>
      <img src="image.jpg" alt="Description of image">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at est ornare, aliquet lectus sit amet, consectetur velit. Curabitur in tortor justo. Nullam ac volutpat arcu, quis pretium ipsum. Maecenas et mollis tortor. Suspendisse aliquam diam eu volutpat malesuada. Aliquam erat volutpat. Cras consectetur diam id lectus convallis, id tincidunt risus rhoncus. Aenean auctor dui nec nunc scelerisque, quis ornare ipsum fringilla. Suspendisse non velit tellus. In hac habitasse platea dictumst. Duis lobortis malesuada elit, non ornare leo. Proin ultricies tempus augue non mollis. Vestibulum non tellus eu nisi sodales elementum. In hac habitasse platea dictumst. Donec ac venenatis nunc. Aliquam ullamcorper aliquam est, in interdum nibh. Proin ac enim diam. Maecenas sed urna dignissim, elementum turpis sed, bibendum tellus.</p>
    </main>
    <footer>
        <div class="creators-container">
            <div class="details-container">
                <div class="name-wrapper">
                    <span class="name">
                        Ramona Andrei
                    </span>
                </div>
                <div class="email-wrapper">
                    <span class="email">
                        ramona.andrei@stud.fh-campuswien.ac.at
                    </span>
                </div>
                <div class="image-wrapper">
                    <img src="./../images/ramona.jpg" alt="Ramona Andrei">
                </div>
            </div>
            <div class="details-container">
                <div class="name-wrapper">
                    <span class="name">
                        Hanaa Alraei
                    </span>
                </div>
                <div class="email-wrapper">
                    <span class="email">
                        hanaa.alraei@stud.fh-campuswien.ac.at
                    </span>
                </div>
                <div class="image-wrapper">
                    <img src="./../images/hanaa.jpg" alt="Hanaa Alraei">
                </div>
            </div>
            <div class="details-container">
                <div class="name-wrapper">
                    <span class="name">
                        Lea Christa
                    </span>
                </div>
                <div class="email-wrapper">
                    <span class="email">
                        lea.christa@stud.fh-campuswien.ac.at
                    </span>
                </div>
                <div class="image-wrapper">
                    <img src="./../images/lea.jpg" alt="Lea Christa">
                </div>
            </div>
        </div>
        <div class="copyright-text-wrapper">
            <span class="copyright-text">© 2022 Diet Designer</span>
        </div>
    </footer>
  </body>
</html>
