<!DOCTYPE html>
<html>

<head>
    <title>Entry pregnant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <link rel="stylesheet" href="../../../css/base.css">
    <link rel="stylesheet" href="../../../css/header.css">
    <link rel="stylesheet" href="../../../css/footer.css">
    <link rel="stylesheet" href="../css/article.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js"
        integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
</head>

<body>
    <header>
    </header>
    <section class="details-section">
        <h1>Diet during pregnancy</h1>
        <p>by Ramona Andrei</p>
        <p>26.12.22</p>
    </section>
    <main>
        <p>Food is an important factor in maintaining a healthy pregnancy.
            During this time, a woman's nutritional needs increase
            to support the growth and development of her baby.
            It is important for expectant mothers to pay close attention
            to their diet and make sure they are getting
            the necessary nutrients to support a healthy pregnancy..
        </p>
        <div class="image-wrapper">
            <img src="../images/pregnant.jpg" alt="Description of image">
        </div>
        <p>Here are a few key points to consider when it comes to food during pregnancy:
        <ol>
            <li>
                Eat a variety of nutrient-dense foods: It is important to get a
                range of nutrients from different sources, so try to eat a variety of fruits, vegetables, whole grains,
                and
                protein sources.
            </li>
            <li>
                Get enough folic acid: Folic acid is an important nutrient for fetal development, and it is recommended
                that pregnant women get at least 400 micrograms per day. Good sources of folic acid include leafy green
                vegetables, citrus fruits, beans, and fortified cereals.
            </li>
            <li>
                Avoid certain foods: There are some foods that should be avoided during pregnancy, as they may pose a
                risk to the baby. These include raw or undercooked meats, fish that may contain high levels of mercury,
                and
                certain types of soft cheeses.
            </li>
            <li>
                Consult with a healthcare provider: It is always a good idea to discuss dietary needs and concerns with
                a healthcare provider during pregnancy. They can provide personalized guidance and recommendations based
                on
                the specific needs of the mother and baby.
            </li>
            <li>
                Eat a variety of nutrient-dense foods: It is important to get a
                range of nutrients from different sources, so try to eat a variety of fruits, vegetables, whole grains,
                and
                protein sources.
            </li>
            Overall, it is important to pay close attention to nutrition during pregnancy and make sure to get the
            necessary nutrients to support a healthy pregnancy. By following these guidelines and consulting with a
            healthcare provider, expectant mothers can help ensure the best possible outcome for both themselves and
            their baby.</p>
    </main>
    <section class="comments-section">
        <h2>Comments</h2>
        <div class="add-comment-button-wrapper">
            <button class="add-comment-button">
                Add comment
            </button>
        </div>
        <div class="comment-container">
            <span>apetreialinc1@gmail.com</span>
            <p>Comment content 1</p>
        </div>
        <div class="comment-container">
            <span>apetreialinc2@gmail.com</span>
            <p>Comment content 2</p>
        </div>
        <div class="comment-container">
            <span>apetreialinc3@gmail.com</span>
            <p>Comment content 3</p>
        </div>
    </section>
    <footer>
        <div class="creators-container">
            <div class="details-container">
                <div class="name-wrapper">
                    <span class="name">
                        Ramona Andrei
                    </span>
                </div>
                <div class="email-wrapper">
                    <span class="email">
                        ramona.andrei@stud.fh-campuswien.ac.at
                    </span>
                </div>
                <div class="image-wrapper">
                    <img src="../../../images/ramona.jpg" alt="Ramona Andrei">
                </div>
            </div>
            <div class="details-container">
                <div class="name-wrapper">
                    <span class="name">
                        Hanaa Alraei
                    </span>
                </div>
                <div class="email-wrapper">
                    <span class="email">
                        hanaa.alraei@stud.fh-campuswien.ac.at
                    </span>
                </div>
                <div class="image-wrapper">
                    <img src="../../../images/hanaa.jpg" alt="Hanaa Alraei">
                </div>
            </div>
            <div class="details-container">
                <div class="name-wrapper">
                    <span class="name">
                        Lea Christa
                    </span>
                </div>
                <div class="email-wrapper">
                    <span class="email">
                        lea.christa@stud.fh-campuswien.ac.at
                    </span>
                </div>
                <div class="image-wrapper">
                    <img src="../../../images/lea.jpg" alt="Lea Christa">
                </div>
            </div>
        </div>
        <div class="copyright-text-wrapper">
            <span class="copyright-text">© 2022 Diet Designer</span>
        </div>
    </footer>
    <div class="modal">
        <div>
            <button class="close-modal-button">x</button>
            <form>
                <label for="comment">Comment:</label>
                <textarea type="text" id="comment" name="comment" placeholder="Add a comment..."></textarea>
                <button type="submit" class="submit-comment-button">Add comment</button>
            </form>
        </div>
    </div>
    <script src="../../../js/header.js"></script>
    <script src="../js/article.js"></script>
</body>

</html>