<!DOCTYPE html>
<html>
  <head>
    <title>Loose pounds with diabetis</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
  </head>
  <body>
    <header>
        <div class="logo-container">
            <a href="./home.html">
                <span>
                    DietDesigner
                </span>
            </a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="./recipes.html">Recipes</a>
                </li>
                <li>
                    <a href="./blog.html">Blog</a>
                </li>
                <li>
                    <a href="./forum.html">Forum</a>
                </li>
            </ul>
        </nav>
        <div class="auth-container">
            <a href="./register.html">
                <span>Register</span>
            </a>
            <a href="./login.html">
                <span>Login</span>
            </a>
        </div>
    </header>
    <section>
      <h1>Loose 4 pounds a month! </h1>
      <p>by Hanaa Alraei</p>
      <p>30.12.22</p>
    </section>
    <main>
      <p>Diabetes is a chronic condition that affects the way the body processes blood sugar. It is important for people with diabetes to manage their blood sugar levels through a combination of medication, diet, and exercise. Losing weight can be an effective way to help manage diabetes, as excess weight is a risk factor for the development of the condition and can make it more difficult to control blood sugar levels.

        Here are a few key points to consider when it comes to losing weight with diabetes:</p>
      <img src="food.jpg" alt="Description of image">
      <p>  Here are a few key points to consider when it comes to losing weight with diabetes:

        Consult with a healthcare provider: It is important to discuss weight loss goals and plans with a healthcare provider, as they can provide personalized guidance and support. They can also help monitor blood sugar levels and adjust medications as needed.
        
        Focus on healthy eating: A healthy diet is an important part of managing diabetes and losing weight. This typically includes plenty of fruits, vegetables, whole grains, and lean protein sources, as well as limiting added sugars and saturated fats.
        
        Get regular physical activity: Exercise can help improve blood sugar control and support weight loss. It is important to get at least 150 minutes of moderate-intensity exercise per week, or 75 minutes of vigorous-intensity exercise.
        
        Consider working with a dietitian: A dietitian can provide expert guidance on how to create a healthy eating plan that meets the specific needs of someone with diabetes. They can also help with meal planning and provide support for making healthy lifestyle changes.olutpat malesuada. Aliquam erat volutpat. Cras consectetur diam id lectus convallis, id tincidunt risus rhoncus. Aenean auctor dui nec nunc scelerisque, quis ornare ipsum fringilla. Suspendisse non velit tellus. In hac habitasse platea dictumst. Duis lobortis malesuada elit, non ornare leo. Proin ultricies tempus augue non mollis. Vestibulum non tellus eu nisi sodales elementum. In hac habitasse platea dictumst. Donec ac venenatis nunc. Aliquam ullamcorper aliquam est, in interdum nibh. Proin ac enim diam. Maecenas sed urna dignissim, elementum turpis sed, bibendum tellus.</p>
    </main>
    <footer>
        <div class="creators-container">
            <div class="details-container">
                <div class="name-wrapper">
                    <span class="name">
                        Ramona Andrei
                    </span>
                </div>
                <div class="email-wrapper">
                    <span class="email">
                        ramona.andrei@stud.fh-campuswien.ac.at
                    </span>
                </div>
                <div class="image-wrapper">
                    <img src="./../images/ramona.jpg" alt="Ramona Andrei">
                </div>
            </div>
            <div class="details-container">
                <div class="name-wrapper">
                    <span class="name">
                        Hanaa Alraei
                    </span>
                </div>
                <div class="email-wrapper">
                    <span class="email">
                        hanaa.alraei@stud.fh-campuswien.ac.at
                    </span>
                </div>
                <div class="image-wrapper">
                    <img src="./../images/hanaa.jpg" alt="Hanaa Alraei">
                </div>
            </div>
            <div class="details-container">
                <div class="name-wrapper">
                    <span class="name">
                        Lea Christa
                    </span>
                </div>
                <div class="email-wrapper">
                    <span class="email">
                        lea.christa@stud.fh-campuswien.ac.at
                    </span>
                </div>
                <div class="image-wrapper">
                    <img src="./../images/lea.jpg" alt="Lea Christa">
                </div>
            </div>
        </div>
        <div class="copyright-text-wrapper">
            <span class="copyright-text">© 2022 Diet Designer</span>
        </div>
    </footer>
  </body>
</html>
