<!DOCTYPE html>
<html>

<head>
    <title>DietDesigner</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/home.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js"
        integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
</head>

<body>
    <header></header>
    <section>
        <div class="diet-container">
            <div class="text-diet-wrapper">
                <p class="text-diet">
                    Weight loss diet
                </p>
            </div>
            <div class="image-wrapper">
                <a href="./weight-loss.html">
                    <img src="./../images/weight-loss-diet.png" alt="Weight loss diet">
                </a>
            </div>
        </div>
        <div class="diet-container">
            <div class="text-diet-wrapper">
                <p class="text-diet">
                    Muscles building diet
                </p>
            </div>
            <div class="image-wrapper">
                <a href="./muscles-building.html">
                    <img src="./../images/muscles-building-diet.jpg" alt="Weight loss diet">
                </a>
            </div>
        </div>
        <div class="diet-container">
            <div class="text-diet-wrapper">
                <p class="text-diet">
                    Diabetes diet
                </p>
            </div>
            <div class="image-wrapper">
                <a href="./diabetes.html">
                    <img src="./../images/diabetes-diet.png" alt="Weight loss diet">
                </a>
            </div>
        </div>
    </section>
    <footer>
        <div class="creators-container">
            <div class="details-container">
                <div class="name-wrapper">
                    <span class="name">
                        Ramona Andrei
                    </span>
                </div>
                <div class="email-wrapper">
                    <span class="email">
                        ramona.andrei@stud.fh-campuswien.ac.at
                    </span>
                </div>
                <div class="image-wrapper">
                    <img src="./../images/ramona.jpg" alt="Ramona Andrei">
                </div>
            </div>
            <div class="details-container">
                <div class="name-wrapper">
                    <span class="name">
                        Hanaa Alraei
                    </span>
                </div>
                <div class="email-wrapper">
                    <span class="email">
                        hanaa.alraei@stud.fh-campuswien.ac.at
                    </span>
                </div>
                <div class="image-wrapper">
                    <img src="./../images/hanaa.jpg" alt="Hanaa Alraei">
                </div>
            </div>
            <div class="details-container">
                <div class="name-wrapper">
                    <span class="name">
                        Lea Christa
                    </span>
                </div>
                <div class="email-wrapper">
                    <span class="email">
                        lea.christa@stud.fh-campuswien.ac.at
                    </span>
                </div>
                <div class="image-wrapper">
                    <img src="./../images/lea.jpg" alt="Lea Christa">
                </div>
            </div>
        </div>
        <div class="copyright-text-wrapper">
            <span class="copyright-text">© 2022 Diet Designer</span>
        </div>
    </footer>

    <script src="../js/header.js"></script>
</body>

</html>