<!DOCTYPE html>
<html>
    <head>
        <title>DietDesigner</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="../css/base.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/home.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js" integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <header>
            <div class="logo-container">
                <a href="./home.html">
                    <span>
                        DietDesigner
                    </span>
                </a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="./recipes.html">Recipes</a>
                    </li>
                    <li>
                        <a href="./blog.html">Blog</a>
                    </li>
                    <li>
                        <a href="./forum.html">Forum</a>
                    </li>
                </ul>
            </nav>
            <div class="auth-container">
                <a href="./register.html">
                    <span>Register</span>
                </a>
                <a href="./login.html">
                    <span>Login</span>
                </a>
            </div>
        </header>
    </body>
</html>