.main {
    min-height: calc(100vh - 64px - 200px);
    padding: 20px 30px;
}

.addPostButton {
    background: none;
    padding: 10px 20px;
    border: 1px solid #000;
}

.addPostButton:hover{
    cursor: pointer;
}

.postsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}