.modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    background-color: #fff;
    padding: 10px 30px 30px;
}

.title {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.textField {
    width: 100%;
}

.addPostButton {
    background: none;
    padding: 10px 20px;
    border: 1px solid #000;
    margin-top: 20px;
}

.addPostButton:hover {
    cursor: pointer;
    opacity: .7;
}

.ingredientFormControl,
.instructionFormControl {
    position: relative;
}

.listIngredients,
.listInstructions {
    margin: 0;
    padding: 0 0 0 15px;
}

.icon {
    position: absolute;
    right: 5px;
    top:  10px;
}

.icon:hover {
    cursor: pointer;
}